.nm-icon {
  background: $nm-background;
  border-radius: $nm-radius;
  @include nm-outer-shadow;
  font-size: 25px;
  height: 35px;
  width: 35px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity, box-shadow 0.3s;
  border: none;
  cursor: pointer;
  font-style: normal;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    @include nm-inner-shadow;
  }
  &:disabled {
    opacity: 0.5;
    background: $nm-disabled;
    cursor: not-allowed;
  }

  &-circle {
    border-radius: 50%;
  }
  &-danger {
    color: $nm-danger;
  }
  &-secondary {
    color: $nm-secondary;
  }

  &-success {
    color: $nm-success;
  }
  &-info {
    color: $nm-info;
  }
  &-warning {
    color: $nm-warning;
  }
  &-link {
    color: $nm-link;
  }
}
