.nm-bg {
  &-danger {
    background: $nm-danger;
    color: $nm-white;
  }
  &-secondary {
    background: $nm-secondary;
    color: $nm-white;
  }

  &-success {
    background: $nm-success;
    color: $nm-white;
  }
  &-info {
    background: $nm-info;
    color: $nm-white;
  }
  &-warning {
    background: $nm-warning;
    color: $nm-white;
  }
}

.nm-text {
  color: $nm-color;
  &-danger {
    color: $nm-danger;
  }
  &-secondary {
    color: $nm-secondary;
  }

  &-success {
    color: $nm-success;
  }
  &-info {
    color: $nm-info;
  }
  &-link {
    color: $nm-link;
  }
  &-warning {
    color: $nm-warning;
  }
}

@for $i from 1 through 250 {
  .nm-square-#{$i} {
    height: $i + px;
    width: $i + px;
  }
}

.nm-circle {
  border-radius: 50%;
}

@for $i from 1 through 250 {
  .nm-circle-#{$i} {
    height: $i + px;
    width: $i + px;
    border-radius: 50%;
  }
}
